fastapi
uvicorn
torch
diffusers==0.35.1
transformers==4.56.2
accelerate==1.10.1
safetensors==0.6.2
pillow
opencv-python
numpy
python-multipart
hf_transfer

git+https://github.com/tencent-ailab/IP-Adapter.git

git+https://github.com/Tencent-Hunyuan/Hunyuan3D-2.git
PyOpenGL
PyQt5
tbb